<div class="s-business-info-container">
  <div class="s-business-info-top">
    <div class="s-business-scope-container">
      <h5 class="s-business-scope-title">{{'BUSINESS_SCOPE_TITLE' | translate}}</h5>
      <p class="s-business-scope-details">{{'BUSINESS_SCOPE_DETAILS' | translate}}<p>
    </div>
  </div>
  <div class="s-business-info-bottom">
    <h5 class="s-office-title">{{'OFFICE_TITLE' | translate}}</h5>
    <div class="s-office-image-container">
      <a class="s-office-image"></a>
    </div>
    <div class="s-office-contacts-container">
      <div class="s-office-contacts-london">
        <h5 class="s-office-contacts-title s-office-contacts-london-title">{{'CONTACTS_LONDON_TITLE' | translate}}</h5>
        <p class="s-office-contacts-details s-office-contacts-london-details">{{'CONTACTS_LONDON_DETAILS' | translate}}</p>
      </div>
      <div class="s-office-contacts-nanning">
        <h5 class="s-office-contacts-title s-office-contacts-nanning-title">{{'CONTACTS_NANNING_TITLE' | translate}}</h5>
        <p class="s-office-contacts-details s-office-contacts-nanning-details">{{'CONTACTS_NANNING_DETAILS' | translate}}</p>
      </div>
    </div>
    <div class="s-service-points-container">
      <h5 class="s-service-points-title">{{'SERVICE_POINTS_TITLE' | translate}}</h5>
      <p class="s-service-points-details">{{'SERVICE_POINTS_DETAILS' | translate}}</p>
    </div>
  </div>
</div>

