<div id="s-business-info-container">
  <h5 id="s-business-scope-title" class="s-heading s-text-center s-letter-spacing">{{'BUSINESS_SCOPE_TITLE' | translate}}</h5>
  <p id="s-business-scope-details">{{'BUSINESS_SCOPE_DETAILS' | translate}}<p>

  <h5 class="s-heading s-text-center s-letter-spacing">{{'OFFICE_TITLE' | translate}}</h5>
  <img id="s-business-info-map" src="resources/images/office_image.png">
  <div id="s-business-info-address" class="s-row-container">
    <div class="s-left s-column">
      <h5 class="s-heading">{{'CONTACTS_LONDON_TITLE' | translate}}</h5>
      <p class="s-content">{{'CONTACTS_LONDON_DETAILS' | translate}}</p>
    </div>
    <div class="s-right s-column">
      <h5 class="s-heading">{{'CONTACTS_NANNING_TITLE' | translate}}</h5>
      <p class="s-content">{{'CONTACTS_NANNING_DETAILS' | translate}}</p>
    </div>
  </div>

  <h5 id="s-service-point-title" class="s-heading s-text-center s-letter-spacing">{{'SERVICE_POINTS_TITLE' | translate}}</h5>
  <p class="s-content s-text-center s-bold">{{'SERVICE_POINTS_DETAILS' | translate}}</p>
</div>

