<div id="s-geomancy-advisory-container" class="s-row-container">
  <div class="s-column-major s-left">
    <p class="s-content">{{'GEOMANCY_INTRODUCTION' | translate}}</p>
    <a class="s-geomancy-introduction-image"></a>
  </div>
  <div class="s-column-minor s-right">
    <div class="s-geomancy-expert-images-container">
      <a class="s-geomancy-expert-image"></a>
      <p>{{'GEOMANCY_EXPERT_IMAGE_DESCRIPTION' | translate}}</p>
    </div>
    <p class="s-content">{{'GEOMANCY_EXPERT_INTRODUCTION' | translate}}</p>
  </div>
</div>