<div class="s-geomancy-advisory-container">
  <div class="s-geomancy-advisory-main-body">
    <div class="s-geomancy-advisory-left">
      <div class="s-geomancy-introduction-container">
        <p class="s-geomancy-introduction-text">{{'GEOMANCY_INTRODUCTION' | translate}}</p>
        <a class="s-geomancy-introduction-image"></a>
      </div>
    </div>
    <div class="s-geomancy-advisory-right">
      <div class="s-geomancy-expert-container">
        <div class="s-geomancy-expert-images-container">
          <div class="s-geomancy-expert-image-left-container">
            <a class="s-geomancy-expert-image-left"></a>
            <p>{{'GEOMANCY_EXPERT_LEFT_IMAGE_DESCRIPTION' | translate}}</p>
          </div>
          <div class="s-geomancy-expert-image-right-container">
            <a class="s-geomancy-expert-image-right"></a>
            <p>{{'GEOMANCY_EXPERT_RIGHT_IMAGE_DESCRIPTION' | translate}}</p>
          </div>
        </div>
        <p class="s-geomancy-expert-text">{{'GEOMANCY_EXPERT_INTRODUCTION' | translate}}</p>
      </div>
    </div>
  </div>
</div>