<div id="s-geomancy-advisory-container" class="s-row-container">
  <div class="s-column-major s-left">
    <p class="s-content">{{'GEOMANCY_INTRODUCTION' | translate}}</p>
    <img id="s-geomancy-advisory-image" src="resources/images/geomancy_image.jpg">
  </div>
  <div class="s-column-minor s-right">
    <img id="s-geomancy-advisory-expert-image" src="resources/images/geomancy_expert_image.jpg">
    <p class="s-annotation">{{'GEOMANCY_EXPERT_IMAGE_DESCRIPTION' | translate}}</p>
    <p class="s-content">{{'GEOMANCY_EXPERT_INTRODUCTION' | translate}}</p>
  </div>
</div>