<div class="s-global-header-container" ng-controller="GlobalHeaderController">
  <div class="s-global-header-top">
    <div class="s-global-header-top-left">
      <div class="s-brand-container">
        <a class="s-brand" href="#/home"></a>
      </div>
    </div>
    <div class="s-global-header-top-right">
      <div class="s-motto-container">
        <!--<p class="s-motto">{{'MOTTO' | translate}}</p>-->
      </div>
      <div class="s-language-switch-container">
        <a class="s-language-switch s-language-chinese"></a>
        <a class="s-language-switch s-language-english"></a>
      </div>
    </div>
  </div>
  <div class="s-global-header-bottom">
    <ul class="s-tab-container">
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/shengyuan_estate')}">
        <a href="#/shengyuan_estate">{{'SHENGYUAN_ESTATE' | translate}}</a>
      </li>
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/shengyuan_group')}">
        <a href="#/shengyuan_group">{{'SHENGYUAN_GROUP' | translate}}</a>
      </li>
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/investment_consulting')}">
        <a href="#/investment_consulting">{{'INVESTMENT_CONSULTING' | translate}}</a>
      </li>
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/geomancy_advisory')}">
        <a href="#/geomancy_advisory">{{'GEOMANCY_ADVISORY' | translate}}</a>
      </li>
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/latest_properties')}">
        <a href="#/latest_properties">{{'LATEST_PROPERTIES' | translate}}</a>
      </li>
      <li class="s-tab" ng-class="{'s-tab-active': isActive('/customer_testimonials')}">
        <a href="#/customer_testimonials">{{'CUSTOMER_TESTIMONIALS' | translate}}</a>
      </li>
    </ul>
  </div>
</div>