<div class="s-global-footer-container">
  <div class="s-global-footer-top">
    <ul class="s-tip-links-container">
      <li class="s-tip-link">
        <p class="s-tip-property-types">
          <a>{{'PROPERTY_TYPES' | translate}}</a>
        </p>
      </li>
      <li class="s-tip-link">
        <p class="s-tip-property-rights">
          <a>{{'PROPERTY_RIGHTS' | translate}}</a>
        </p>
      </li>
      <li class="s-tip-link">
        <p class="s-tip-purchase-process">
          <a>{{'PURCHASE_PROCESS' | translate}}</a>
        </p>
      </li>
      <li class="s-tip-link">
        <p class="s-tip-investment-timing">
          <a>{{'INVESTMENT_TIMING' | translate}}</a>
        </p>
      </li>
    </ul>
  </div>
  <div class="s-global-footer-middle">
    <div class="s-separator-container">
      <a class="s-separator"></a>
    </div>
  </div>
  <div class="s-global-footer-bottom">
    <div class="s-contacts-container">
      <p class="s-contacts">
        SHENGYUAN GROUP ESTATE DEVELOPMENT LTD.<br/>
        35 Millharbour, Canary Wharf, London, E14 9TX<br>
        Tel 02035880988
      </p>
    </div>
  </div>
</div>