<div id="s-global-footer-container">
  <hr id="s-footer-top-line">

  <ul id="s-tip-links-container" class="s-row-container">
    <li class="s-tip-link">
      <a href="#" class="s-tip-property-types">
        <span>{{'PROPERTY_TYPES' | translate}}</span>
      </a>
    </li>
    <li class="s-tip-link">
      <a href="#" class="s-tip-property-rights">
        <span>{{'PROPERTY_RIGHTS' | translate}}</span>
      </a>
    </li>
    <li class="s-tip-link">
      <a href="#" class="s-tip-purchase-process">
        <span>{{'PURCHASE_PROCESS' | translate}}</span>
      </a>
    </li>
    <li class="s-tip-link">
      <a href="#" class="s-tip-investment-timing">
        <span>{{'INVESTMENT_TIMING' | translate}}</span>
      </a>
    </li>
  </ul>

  <img id="s-footer-separator" src="/resources/images/footer_separator.png">

  <p id="s-footer-contacts">
    SHENGYUAN GROUP ESTATE DEVELOPMENT LTD.<br/>
    35 Millharbour, Canary Wharf, London, E14 9TX<br>
    Tel +44 (0)2035880988 Fax +44 (0)2030698355
  </p>
</div>