<div class="s-global-header-container">
  <div class="s-global-header-top">
    <div class="s-global-header-top-left">
      <div class="s-brand-container">
        <a class="s-brand" href="/"></a>
      </div>
    </div>
    <div class="s-global-header-top-right">
      <div class="s-motto-container">
        <span class="s-motto"></span>
      </div>
      <div class="s-language-switch-container">
        <a class="s-language-switch s-language-chinese"></a>
        <a class="s-language-switch s-language-english"></a>
      </div>
    </div>
  </div>
  <div class="s-global-header-bottom">
    <ul class="s-tab-container">
      <li class="s-tab">
        <a>{{'SHENGYUAN_ESTATE' | translate}}</a>
      </li>
      <li class="s-tab">
        <a>{{'SHENGYUAN_GROUP' | translate}}</a>
      </li>
      <li class="s-tab">
        <a>{{'INVESTMENT_CONSULTING' | translate}}</a>
      </li>
      <li class="s-tab">
        <a>{{'GEOMANCY_ADVISORY' | translate}}</a>
      </li>
      <li class="s-tab">
        <a>{{'LATEST_PROPERTIES' | translate}}</a>
      </li>
      <li class="s-tab">
        <a>{{'CUSTOMER_TESTIMONIALS' | translate}}</a>
      </li>
    </ul>
  </div>
</div>