<div class="s-home-container">
  <div class="s-home-jumbotron-container">
    <a class="s-home-jumbotron"></a>
  </div>
  <div class="s-home-main-body">
    <div class="s-home-left">
      <div class="s-letter-container">
        <h5 class="s-letter-opening">{{'LETTER_OPENING' | translate}}</h5>
        <p class="s-letter-content">{{'LETTER_CONTENT' | translate}}</p>
      </div>
    </div>
    <div class="s-home-right">
      <div ng-include="'views/BusinessInformationView.html'"></div>
    </div>
  </div>
</div>