<div id="s-investment-consulting-container" class="s-row-container">
  <div class="s-column-major s-left">
    <p class="s-content">{{'INVESTMENT_CONSULTING_INTRODUCTION' | translate}}</p>
  </div>
  <div class="s-column-minor s-right">
    <ul>
      <li>
        <img src="resources/images/investment_consulting_image_1.jpg">
        <p class="s-annotation">{{'INVESTMENT_CONSULTING_TEXT_1' | translate}}</p>
      </li>
      <li>
        <img src="resources/images/investment_consulting_image_2.jpg">
        <p class="s-annotation">{{'INVESTMENT_CONSULTING_TEXT_2' | translate}}</p>
      </li>
    </ul>
  </div>
</div>