<div class="s-investment-consulting-container">
  <div class="s-investment-consulting-jumbotron-container">
    <a class="s-investment-consulting-jumbotron"></a>
  </div>
  <div class="s-investment-consulting-main-body">
    <div class="s-investment-consulting-left">
      <p class="s-investment-consulting-introduction">{{'INVESTMENT_CONSULTING_INTRODUCTION' | translate}}</p>
    </div>
    <div class="s-investment-consulting-right">
      <ul class="s-investment-consulting-images-list">
        <li class="s-investment-consulting-image-container">
          <a class="s-investment-consulting-image-1"></a>
          <p class="s-investment-consulting-text">{{'INVESTMENT_CONSULTING_TEXT_1' | translate}}</p>
        </li>
        <li class="s-investment-consulting-image-container">
          <a class="s-investment-consulting-image-2"></a>
          <p class="s-investment-consulting-text">{{'INVESTMENT_CONSULTING_TEXT_2' | translate}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="s-investment-consulting-footer-container">
    <a class="s-investment-consulting-footer-jumbotron"></a>
  </div>
</div>