<div class="s-navigation-container">
  <div class="s-navigation-top">
    <div class="s-navigation-top-left">
      <div class="s-brand-container">
      </div>
    </div>
    <div class="s-navigation-top-right">
      <div class="s-motto-container">
        <span class="s-motto"></span>
      </div>
      <div class="s-language-switch-container">
        <a class="s-language-switch s-language-chinese"></a>
        <a class="s-language-switch s-language-english"></a>
      </div>
    </div>
  </div>
  <div class="s-navigation-bottom">
    <div class="s-tab-container">
      <a class="s-tab">{{'SHENGYUAN_ESTATE' | translate}}</a>
      <a class="s-tab">{{'SHENGYUAN_GROUP' | translate}}</a>
      <a class="s-tab">{{'INVESTMENT_CONSULTING' | translate}}</a>
      <a class="s-tab">{{'GEOMANCY_ADVISORY' | translate}}</a>
      <a class="s-tab">{{'LATEST_PROPERTIES' | translate}}</a>
      <a class="s-tab">{{'CUSTOMER_TESTIMONIALS' | translate}}</a>
    </div>
  </div>
</div>