<div class="s-shengyuan-group-container">
  <div class="s-shengyuan-group-jumbotron-container">
    <a class="s-shengyuan-group-jumbotron"></a>
  </div>
  <div class="s-shengyuan-group-main-body">
    <div class="s-shengyuan-group-left">
      <p class="s-shengyuan-group-introduction">{{'SHENGYUAN_GROUP_INTRODUCTION' | translate}}</p>
    </div>
    <div class="s-shengyuan-group-right">
      <a class="s-shengyuan-group-members-image"></a>
      <!--<ul class="s-group-links-container">-->
        <!--<li class="s-group-link">-->
          <!--<a class="s-link-shengyuan-estate"></a>-->
          <!--<a class="s-link-shengyuan-metal"></a>-->
          <!--<a class="s-link-impressions-of-china"></a>-->
          <!--<a class="s-link-lh-partners"></a>-->
          <!--<a class="s-link-uk-china-cultrue-association"></a>-->
          <!--<a class="s-link-huaxia-culture-and-education-foundation"></a>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
  </div>
</div>