<div id="s-shengyuan-group-container" class="s-row-container">
  <div class="s-column-major s-left">
    <p class="s-content">{{'SHENGYUAN_GROUP_INTRODUCTION' | translate}}</p>
  </div>
  <div class="s-column-minor s-right">
    <ul class="s-group-links-container">
      <li class="s-group-link">
        <a href="http://www.shengyuan.estate/" target="_blank"><img style="margin-left: 10px" class="s-shengyuan-group-memebers-image" src="resources/images/brand.png"></a>
        <a href="http://www.shengyuan.co.uk/" target="_blank"><img style="margin-left: 3px" class="s-shengyuan-group-memebers-image" src="resources/images/shengyuan_metal_image.png"></a>
        <a href="http://www.impressionsofchina.com/" target="_blank"><img style="margin-left: 10px" class="s-shengyuan-group-memebers-image" src="resources/images/impressions_of_china_image.png"></a>
        <a href="http://www.lh-partners.co.uk/" target="_blank"><img class="s-shengyuan-group-memebers-image" src="resources/images/l_and_h_partners_image.png"></a>
        <a href="http://www.ukcca.org/" target="_blank"><img style="margin-left: 5px" class="s-shengyuan-group-memebers-image" src="resources/images/ukcca_image.png"></a>
        <a><img style="margin-left: 3px" class="s-shengyuan-group-memebers-image" src="resources/images/huaxia_culture_and_education_foundation_image.png"></a>
        <!--<a href="http://www.huaxiaeducation.org.uk/" target="_blank"><img style="margin-left: 3px" class="s-shengyuan-group-memebers-image" src="resources/images/huaxia_culture_and_education_foundation_image.png"></a>-->
      </li>
    </ul>
  </div>
</div>