<div id="s-shengyuan-group-container" class="s-row-container">
  <div class="s-column-major s-left">
    <p class="s-content">{{'SHENGYUAN_GROUP_INTRODUCTION' | translate}}</p>
  </div>
  <div class="s-column-minor s-right">
    <img id="s-shengyuan-group-memebers-image" src="resources/images/shengyuan_group_members_image.png">
    <!--<ul class="s-group-links-container">-->
    <!--<li class="s-group-link">-->
    <!--<a class="s-link-shengyuan-estate"></a>-->
    <!--<a class="s-link-shengyuan-metal"></a>-->
    <!--<a class="s-link-impressions-of-china"></a>-->
    <!--<a class="s-link-lh-partners"></a>-->
    <!--<a class="s-link-uk-china-cultrue-association"></a>-->
    <!--<a class="s-link-huaxia-culture-and-education-foundation"></a>-->
    <!--</li>-->
    <!--</ul>-->
  </div>
</div>