#s-business-scope-title {
  text-align: center;
  color: #B81C25;
  font-size: 15px;
  letter-spacing: 5px;
}

#s-business-scope-details {
  text-align: center;
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

#s-business-info-map {
  width: 330px;
  height: 165px;
  margin: 10px 0;
}

#s-business-info-address .s-heading {
  margin: 10px 0;
}

#s-business-info-address .s-content {
  line-height: 16px;
}

#s-service-point-title {
  margin: 10px 0 0 0;
}
