#s-carousel-container {
  position: relative;
  width: 1000px;
  height: 450px;
}

#s-carousel-container .s-carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
}

#s-carousel-container img {
  display: block;
}

#s-carousel-container .s-carousel-slide.ng-hide-add,
#s-carousel-container .s-carousel-slide.ng-hide-remove {
  -webkit-transition: all linear 0.8s;
  -moz-transition: all linear 0.8s;
  -o-transition: all linear 0.8s;
  transition: all linear 0.8s;
}

#s-carousel-container .s-carousel-slide.ng-hide-add.ng-hide-add-active,
#s-carousel-container .s-carousel-slide.ng-hide-remove {
  opacity: 0;
}

#s-carousel-container .s-carousel-slide.ng-hide-add,
#s-carousel-container .s-carousel-slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}