#s-customer-testimonials-container .s-column-major {
  width: 70%;
}

#s-customer-testimonials-container .s-testimonial-row {
  margin-bottom: 40px;
}

#s-customer-testimonials-container .s-testimonial-row:last-child {
  margin-bottom: 0;
}