div.s-customer-testimonials-container a.s-customer-testimonials-jumbotron {
  background: url('../images/customers_testimonials_jumbotron.jpg') no-repeat center -200px;
  background-size: 100% auto;
  display: block;
  width: 1000px;
  height: 450px;
}