div.s-global-header-container a.s-brand {
  background: url('../images/brand.png') no-repeat;
  background-size: 100% auto;
  display: block;
  width: 475px;
  height: 133px;
}

div.s-global-header-container div.s-global-header-bottom {
  height: 35px;
  background: #B81C25;
  color: #FFFFFF;
}

div.s-global-header-container ul.s-tab-container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

div.s-global-header-container ul.s-tab-container > li {
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 150px;
  float: left;
}

div.s-global-header-container li.s-tab > a {
  display: block;
}

div.s-global-header-container li.s-tab-active > a {
  background: #FFFFFF;
  color: #B81C25;
}