div.s-global-footer div.s-contacts-container {
  text-align: center;
}

div.s-global-footer a.s-separator {
  background: url('../images/footer-separator.png') no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 353px;
  height: 44px;
  margin: 0 auto;
}

div.s-global-footer ul.s-tip-links-container {
  padding: 0 30px;
  height: 150px;
}

div.s-global-footer li.s-tip-link {
  display: inline-block;
  margin: 0 30px;
  float: left;
}

div.s-global-footer li.s-tip-link > p {
  background-size: 100% 100%;
  display: block;
  width: 225px;
  height: 150px;
}

div.s-global-footer p.s-tip-property-types {
  background: url('../images/property_types_image.jpg') no-repeat;
}

div.s-global-footer p.s-tip-property-rights {
  background: url('../images/property_rights_image.jpg') no-repeat;
}

div.s-global-footer p.s-tip-purchase-process {
  background: url('../images/purchase_process_image.jpg') no-repeat;
}

div.s-global-footer p.s-tip-investment-timing {
  background: url('../images/investment_timing_image.jpg') no-repeat;
}

div.s-global-footer li.s-tip-link a {
  color: #FFFFFF;
  display: block;
  width: 100%;
  background: rgba(0,0,0, 0.5);
  line-height: 30px;
  text-align: center;
}