div.s-global-header a.s-brand {
  background: url('../images/brand.png') no-repeat;
  background-size: 100% auto;
  display: block;
  width: 475px;
  height: 133px;
}

div.s-global-header div.s-global-header-bottom {
  height: 40px;
  background: #B81C25;
  color: #FFFFFF;
}

div.s-global-header ul.s-tab-container {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

div.s-global-header ul.s-tab-container > li {
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 170px;
  float: left;
}