#s-header-brand-container {
  overflow: hidden;
  height: 120px;
  display: inline-block;
}

#s-header-brand {
  height: 200px;
  margin: -40px -10px;
}
#s-header-nav-bar {
  background: #B81C25;
  color: #FFFFFF;
}

#s-header-nav-bar a:hover {
  background: #BA4E54;
  transition: background 0.3s;
}

#s-header-tab-container {
  width: 900px;
  margin: 0 auto;
  display: table;
}

#s-header-tab-container > * {
  display: table-cell;
}

#s-global-header-container li.s-tab > a {
  display: block;
  text-align: center;
  line-height: 35px;
}

#s-global-header-container li.s-tab-active > a {
  background: #FFFFFF;
  color: #B81C25;
}