#s-footer-top-line {
  width: 930px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #B81C25;
  margin: 0 auto;
  padding: 0;
}

#s-footer-contacts {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#s-footer-separator {
  width: 353px;
  height: 44px;
  margin: 0 auto;
}

#s-tip-links-container {
  padding: 20px;
}

#s-global-footer-container .s-tip-link {
  margin: 0 15px;
  float: left;
  display: block;
  width: 210px;
  height: 140px;
  position: relative;
}

#s-global-footer-container .s-link-image {
  position: absolute;
  top: 0;
  left: 0;
}

#s-global-footer-container .s-link-text {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  display: block;
  width: 100%;
  background: rgba(0,0,0, 0.35);
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

#s-global-footer-container .s-tip-link:hover .s-link-text {
  background: rgba(0,0,0, 0.7);
  transition: background 0.3s;
}