div.s-home-container a.s-home-jumbotron {
  background: url('../images/home_jumbotron.jpg') no-repeat center -60px;
  background-size: 100% auto;
  display: block;
  width: 1000px;
  height: 450px;
}

div.s-home-container div.s-home-main-body {
  padding: 50px 50px 0 50px;
  height: 630px;
}

div.s-home-container div.s-home-main-body > div {
  display: inline-block;
  float: left;
}

div.s-home-container div.s-home-left {
  width: 65%;
}

div.s-home-container h5.s-letter-opening {
  font-size: 16px;
  margin: 0 0 15px 0;
}

div.s-home-container p.s-letter-content {
  white-space: pre-wrap;
  padding: 0 50px 0 0;
  font-size: 13px;
  line-height: 20px;
}

div.s-home-container div.s-home-right {
  width: 35%;
}

div.s-home-container h5.s-business-scope-title {
  text-align: center;
  color: #B81C25;
  font-size: 15px;
  margin: 0;
  letter-spacing: 5px;
}

div.s-home-container p.s-business-scope-details {
  text-align: center;
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

div.s-home-container h5.s-office-title {
  text-align: center;
  font-size: 15px;
  margin: 0;
  letter-spacing: 5px;
}

div.s-home-container a.s-office-image {
  background: url('../images/office_image.png') no-repeat;
  background-size: 100% auto;
  display: block;
  width: 330px;
  height: 165px;
  margin: 10px 0;
}

div.s-home-container div.s-office-contacts-container {
  height: 120px;
}

div.s-home-container div.s-office-contacts-container > div {
  display: inline-block;
  width: 50%;
  float: left;
}

div.s-home-container div.s-home-right-top {
  margin: 0 0 50px 0;
}

div.s-home-container h5.s-office-contacts-title {
  margin: 10px 0;
  font-size: 15px;
}

div.s-home-container p.s-office-contacts-details {
  white-space: pre-wrap;
  font-size: 13px;
}

div.s-home-container h5.s-service-points-title {
  text-align: center;
  font-size: 15px;
  margin: 10px 0 0 0;
  letter-spacing: 5px;
}

div.s-home-container p.s-service-points-details {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
