div.s-home-container a.s-home-jumbotron {
  background: url('../images/home_jumbotron.jpg') no-repeat center;
  background-size: 100% auto;
  display: block;
  width: 1000px;
  height: 450px;
}

div.s-home-container div.s-home-main-body {
  padding: 50px 50px 0 50px;
  height: 630px;
}

div.s-home-container div.s-home-main-body > div {
  display: inline-block;
  float: left;
}

div.s-home-container div.s-home-left {
  width: 65%;
}

div.s-home-container h5.s-letter-opening {
  font-size: 16px;
  margin: 0 0 15px 0;
}

div.s-home-container p.s-letter-content {
  white-space: pre-wrap;
  padding: 0 50px 0 0;
  font-size: 13px;
  line-height: 20px;
}

div.s-home-container div.s-home-right {
  width: 35%;
}