#s-investment-consulting-container ul.s-investment-consulting-images-list {
  padding: 0;
  font-size: 12px;
}

#s-investment-consulting-container li.s-investment-consulting-image-container {
  list-style-type: none;
}

#s-investment-consulting-container a.s-investment-consulting-image-1 {
  background: url('../images/investment_consulting_image_1.jpg') no-repeat center;
  background-size: 100% auto;
  display: block;
  width: 315px;
  height: 177px;
}

#s-investment-consulting-container a.s-investment-consulting-image-2 {
  background: url('../images/investment_consulting_image_2.jpg') no-repeat center;
  background-size: 100% auto;
  display: block;
  width: 315px;
  height: 177px;
}