div.s-shengyuan-estate-container a.s-shengyuan-estate-jumbotron {
  background: url('../images/shengyuan_estate_jumbotron.jpg') no-repeat center -80px;
  background-size: 100% auto;
  display: block;
  width: 1000px;
  height: 450px;
}